body { font-family:arial; 
	font-size:12pt; 
	color:#333; 
	background-color:#eee; }
a { color:#333; 
	font-weight:bold; 
	text-decoration:none; }
a:hover { color:#333; 
	font-style:italic; }

.hw { display:block;
	width:100px; 
	height:100px;  
	position:absolute; 
	top:50%; 
	left:50%; 
	margin-top:-50px; 
	margin-left:-50px; }
